<small>
<p>This page lists all the available apartments.  It contains the properties for this
lists headers (eg Capacity, Kitchen, etc. ) as well as the headers for the individual 
apartment view pages (eg Bedrooms, TV, Computer, etc. ).  These headers all have names
starting with "H_" (eg H_TV, H_bedrooms, etc.).  The values for each of these is set
as a parameters on the apartment pages with names starting with "A_" (eg. A_TV, A_bedrooms, etc).
</p>
<p>The image name apt0-tiny.jpg is used for the image on the apartment listing
page</p>
</small>
